/* Import the fonts required for project */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=PT+Sans&display=swap');

html {
  size: 20px;
}

body {
  color: whitesmoke;
  background-color: black;
  font-family: 'PT Sans', sans-serif;
  margin: 3rem 5rem 0 5rem;
}